#gallery-wrapper{
    background-image: url("../images/main-background.png");
    margin-top: 22px;
    
    #main-gallery-container{
      margin: 0 auto;
      width: 960px;
      padding-bottom: 37px;
  
        .breadcrumbs {
          font-size: 12px;
          color: #7e7d7d;
          padding-top: 29px;
          padding-bottom: 50px;
  
          a{
            color: #a3a3a3;
            text-decoration: none;
          }
  
          .raquo{
            color: #7e7d7d;
            padding: 4px;
          }
        }
  
        .recent-work{
  
      
              .work{
                  list-style-type: none;
      
                  li{
                      display: inline-block;
                      margin-right: 26px;
                      margin-bottom: 50px;
      
                      .work-box{
                          width: 145px;
                          height: 94px;
                          background-color: #25575E;
                          border: 5px solid white;
                          position: relative;
                          -webkit-box-shadow: #4E4C4C 5px 5px 5px inset;
                          -moz-box-shadow: #4E4C4C 5px 5px 5px inset;
                          box-shadow: #4E4C4C 5px 5px 5px inset;
  
                          img {
                            height: 100%;
                            width: 100%;

                            &:hover{
                                opacity: 0.8;
                            }
                          }
                          
                          .redirect{
                              width: 28%;
                              height: 35%;
                              position: absolute;
                              left: 25%;
                              top: 35%;
                          }
    
                          .enlarge{
                            width: 28%;
                            height: 35%;
                            position: absolute;
                            right: 23%;
                            bottom: 30%;
                          }
                      }
                  }
              }
        }
    }
  }