#gallery-wrapper{
    background-image: url("../images/main-background.png");
    margin-top: 22px;
    
    #main-gallery-container{
      margin: 0 auto;
      width: 960px;
      padding-bottom: 37px;
  
        .breadcrumbs {
          font-size: 12px;
          color: #7e7d7d;
          padding-top: 29px;
          padding-bottom: 50px;
  
          a{
            color: #a3a3a3;
            text-decoration: none;
          }
  
          .raquo{
            color: #7e7d7d;
            padding: 4px;
          }
        }
  
        .recent-work{
  
      
              .work{
                  list-style-type: none;
      
                  li{
                      display: inline-block;
                      margin-right: 26px;
                      margin-bottom: 50px;
      
                      .work-box{
                          width: 145px;
                          height: 94px;
                          background-color: #25575E;
                          border: 5px solid white;
                          position: relative;
                          -webkit-box-shadow: #4E4C4C 5px 5px 5px inset;
                          -moz-box-shadow: #4E4C4C 5px 5px 5px inset;
                          box-shadow: #4E4C4C 5px 5px 5px inset;
  
                          img {
                            height: 100%;
                            width: 100%;
                          }
                          
                          .btn-wrapper{
                            position: absolute;
                            z-index: 100;

                            .redirect{
                                background-image: url("./../images/featured-more.png");
                                display: inline-block;
                              }
      
                              .enlarge{
                                background-image: url("./../images/zoom-icon.png");
                                display: inline-block;
                              }
                          }

                      }
  
  
                  }
              }
        }
    }
  }

  .et_pt_portfolio_image { position: relative; }
  .et_pt_portfolio_image img { display: block; }
  .et_portfolio_more_icon, .et_portfolio_zoom_icon { display: block; height: 37px; position: absolute; top: 68px; width: 37px; text-indent: -9999px; display: none; }
  .et_portrait_layout .et_portfolio_more_icon, .et_portrait_layout .et_portfolio_zoom_icon { top: 142px; }
  .et_portfolio_more_icon { background: url('./../images/featured-more.png') no-repeat; left: 94px; }
  .et_portfolio_zoom_icon { background: url('./../images/zoom-icon.png') no-repeat; left: 134px; }
  .et_video .et_portfolio_zoom_icon { background: url('./../images/featured-more.png') no-repeat; }
  .et_pt_portfolio_overlay { width: 100%; height: 100%; background: url('./../images/featured-more.png') no-repeat; display: block; position: absolute; top: 0px; left: 0px; }
  