.user-img{
    opacity: 1;
    width: 56px;
    float: left;    
    height: 56px;
    background-color: #25575E;
    border: 5px solid white;
    -webkit-box-shadow: #4E4C4C 5px 5px 5px inset;
    -moz-box-shadow: #4E4C4C 5px 5px 5px inset;
    box-shadow: #4E4C4C 5px 5px 5px inset;

    img {
      height: 100%;
      width: 100%;
    }
}

.user-comment-box {
    position: relative;
    background: #ffffff;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
    width: 525px;
    height: 200px;
    display: inline-block;
    margin-left: 12px;

    &:after, &:before{
        right: 100%;
        top: 15%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after{
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #ffffff;
        border-width: 9px;
        margin-top: -9px;
    }

    &:before {
        border-color: rgba(97, 112, 122, 0);
        border-right-color: lightgrey;
        border-width: 10px;
        margin-top: -10px;
    }

    .user-comment{
        word-break: break-all;
        margin-top: 18px;
        font-family: "DroidSans";
        font-size: 12px;
        
    }

    .user-name{
        font-size: 16px;
        font-family: "DroidSans";
    }
}

.add-comment-wrapper{
    margin-top: 20px;

    input, textarea{
        display: block;
        width: 100%;
        border-radius: 10px;
        text-indent: 10px;
        outline: 0;
        font-family: "DroidSans";
    }

    input{
        height: 40px;
    }

    textarea{
        margin-top: 5px;
    }
}

@media only screen and (max-width: 768px) {

    .small-devices{

        .title-wrapper{
            width: 100%;

            h1{
                padding-left: 20px;
            }
        }

        .breadcrumbs{
            padding-left: 20px;
        }

        .content-box{
            text-align: center;

            .text-wrapper{
                margin-left: 12%;
            }
            
            .user-comment-box {
                width: 80%; 
            }
        }
    }
}
  
  @media only screen and (min-width: 768px) and (max-width: 956px){
    .medium-devices{
  
        .title-wrapper{
            width: 100%;
    
            h1{
                padding-left: 20px;
            }
          }
    
          .breadcrumbs{
              padding-left: 20px;
          }
  
          .content-box{
            text-align: center;

            .text-wrapper{
                margin-left: 12%;
                text-align: justify;
            }
            
            .user-comment-box {
                width: 80%; 
            }
        }
    }
  }

