<div class="title-wrapper">
    <h1>Gallery</h1>
</div>
<div id="gallery-wrapper">
    <div id="main-gallery-container">
        <div class="breadcrumbs">
            <a href="#/home">Home</a><span class="raquo">»</span>Gallery
        </div>
        <div class="recent-work">
            <ul class="work">

                <li>
                    <div class="work-box">
                            <div class="et_pt_portfolio_image">
                                <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture"> 
                                <span class="et_pt_portfolio_overlay"></span>
                                <a class="et_portfolio_zoom_icon fancybox mfp-image" title="The Morning Dew" rel="portfolio" href="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/3.jpg">Zoom in</a>
                                <a class="et_portfolio_more_icon" href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/the-morning-dew/">Read more</a>
                            </div>
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
</div>