<div class="title-wrapper">
    <h1>Gallery</h1>
</div>
<div id="gallery-wrapper">
    <div id="main-gallery-container">
        <div class="breadcrumbs">
            <a href="#/home">Home</a><span class="raquo">»</span>Gallery
        </div>
        <div class="recent-work">
            <ul class="work">
                {{!-- width="560" height="315"  --}}
                <li>
                    <div class="work-box">
                        
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture" class="media">
                        <a href="javascript:void(0)">
                            <img src="/static/images/featured-more.png" alt="" class="redirect">
                        </a>
                        <a href="javascript:void(0)" class="fancybox" title="Sample title">
                            <img src="/static/images/zoom-icon.png" alt="" class="enlarge">                                          
                        </a>
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        {{!-- <iframe src="https://www.youtube.com/embed/VOaCbhp96Dk" frameborder="0" allowfullscreen class="media"></iframe> --}} 
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture" class="media">                        
                            <img src="/static/images/featured-more.png" alt="" class="redirect">
                        </a>
                        <img src="/static/images/zoom-icon.png" alt="" class="enlarge">                                          
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
</div>