<div class="title-wrapper">
    <h1>Gallery</h1>
</div>
<div id="gallery-wrapper">
    <div id="main-gallery-container">
        <div class="breadcrumbs">
            <a href="#/home">Home</a><span class="raquo">»</span>Gallery
        </div>
        <div class="recent-work">
            <ul class="work">

                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                        <img src="/static/images/featured-more.png" alt="" class="redirect">
                        <img src="/static/images/zoom-icon.png" alt="" class="enlarge">                                          
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>
                <li>
                    <div class="work-box">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
</div>