{{!--
<div id="home-page-wrapper">
    <div class="services-wrapper">
        <div class="services">
            <div class="footer-top">
                <div class="footer-top-content left">
                    <h4 class="footer-top-title">Who am I</h3>
                        <div class="footer-top-text">
                            My name is Martina Shebova. I am 26 years old. I have made this website for the Telerik Academy's final Front End Track course.
                            I hope you would like it. You can contact with me by Facebook, GitHub and Linkedin. Enjoy!
                        </div>
                </div>
                <div class="footer-top-content left">
                    <h4 class="footer-top-title">Upload</h3>
                        <div class="footer-top-text">
                            Upload as many pictures as you want. Share your pictures from the epicenter of the events. Take a picture from a storm, moment
                            of an earthquake, or just a nice flower. Share your point of view for different nature events.
                            It is easy just visit my upload section.
                        </div>
                </div>
                <div class="footer-top-content right">
                    <h4 class="footer-top-title">Project purpose</h3>
                        <div class="footer-top-text">
                            Not only, this project is made for the Telerik Academy's final Front End Track course, but also for thousands of people around
                            the world sharing their experience with the Mother Nature. In this website you can get an easy
                            access to the latest earthquake information or weather activity.
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="quote-wrapper">
        <div class="quote">
            <div class="quotes-img">
                <img src="/static/images/quote.png" alt="Quotes Image">
            </div>
            <p>Bad things do happen in the world, like war, natural disasters, disease. But out of those situations always arise
                stories of ordinary people doing extraordinary things.
            </p>
            <input type="button" class="quote-btn" value="НЕ Е ИЗМИСЛЕно" />
        </div>
    </div>
    <div class="hp-media-wrapper">
        <div class="hp-media">

            <div class="media-box">
                <img src="http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958249-500-375.jpg"
                />
            </div>
            <div class="media-box">
                <img src="http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958249-500-375.jpg"
                />
            </div>
            <div class="media-box">
                <img src="http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958249-500-375.jpg"
                />

            </div>
            <div class="media-box">
                <img src="http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958249-500-375.jpg"
                />

            </div>
            <div class="media-box clearfix">
                <img src="http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958249-500-375.jpg"
                />

            </div>
            <div class="media-box clearfix">
                <img src="http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958249-500-375.jpg"
                />

            </div>
            <div class="media-box clearfix">
                <img src="http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958249-500-375.jpg"
                />

            </div>
            <div class="media-box clearfix">
                <img src="http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958249-500-375.jpg"
                />

            </div>
            <div class="media-box clearfix">
                <img src="http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958249-500-375.jpg"
                />

            </div>
            <div class="media-box clearfix">
                <img src="http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958249-500-375.jpg"
                />

            </div>

        </div>
    </div> --}}

    <div id="features">
        <div class="wrapper-center">
            <ul id="features-list">
                <li class="feature-one-two">
                    <img src="/static/images/f1-icon.png" alt="feature-icon" class="services-icons" />
                    <div class="f-1">
                        <h2>What We Offer</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum,
                            id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Etiam malesuada mattis nibh at bibendum. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis
                            turpis ac libero interdum, id fringilla purus feugiat.
                        </p>
                        <form action="/">
                            <input type="image" src="/static/images/readmore.png" alt="Read more" class="read-more">
                        </form>
                    </div>
                </li>
                <li class="feature-one-two">
                    <img src="/static/images/f2-icon.png" alt="feature-icon" class="services-icons" />
                    <div class="f-1">
                        <h2>Who We Are</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum,
                            id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum. Etiam mollis turpis ac libero
                            interdum, id fringilla purus feugiat.
                        </p>
                        <!--<form action="/action_page.php">-->
                        <form action="">
                            <input type="image" src="/static/images/readmore.png" alt="Read more" class="read-more">
                        </form>
                    </div>
                </li>
                <li class="last">
                    <img src="/static/images/f3-icon.png" alt="feature-icon" class="services-icons" />
                    <div class="f-1">
                        <h2>Our Mission</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum,
                            id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum. Etiam mollis turpis ac libero
                            interdum, id fringilla purus feugiat. Etiam mollis turpis ac libero interdum, id fringilla purus
                            feugiat.
                        </p>
                        <form action="/action_page.php">
                            <input type="image" src="/static/images/readmore.png" alt="Read more" class="read-more">
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div id="info">
            <div class="wrapper-center">
                <img src="/static/images/quote.png" alt="quote-icon" id="quote" />
                <p>Vivamus id feugiat ligula. Nulla facilisi. 
                    Integer lacus justo, elementum eget consequat 
                    a, molestie nec
                    sapien. 
                    Quisque tincidunt, nunc vitae adipiscing</p>
            </div>
        </div>
        <!--End info-->
        <div class="wrapper-center">
            <img src="/static/images/additional-info.png" alt="additional-info-icon" id="additional-info" />
        </div>
        <div id="recent-work">
            <div class="wrapper-center">
                <ul class="work">
                    <li>
                        <div class="work-box"></div>
                    </li>
                    <li>
                        <div class="work-box"></div>
                    </li>
                    <li>
                        <div class="work-box"></div>
                    </li>
                    <li>
                        <div class="work-box"></div>
                    </li>
                    <li class="last">
                        <div class="work-box"></div>
                    </li>
                    <li>
                        <div class="work-box"></div>
                    </li>
                    <li>
                        <div class="work-box"></div>
                    </li>
                    <li>
                        <div class="work-box"></div>
                    </li>
                    <li>
                        <div class="work-box"></div>
                    </li>
                    <li class="last">
                        <div class="work-box"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>