<div class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="carousel-cell">
                <div class="carousel-caption-mine">
                    <span>Title of work goes here</span>
                </div>
                <div class="p-icon-container">
                    <div class="p-icon icon-left" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></div>
                    <div class="p-icon center"><img src="/static/images/featured-more.png" alt=""></div>
                    <div class="p-icon center"><i class="fa fa-search"></i></div>
                    <div class="p-icon icon-right" role="button" data-slide="next"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="features">
    <div class="wrapper-center">
        <ul id="features-list">
            <li class="feature-one-two">
                <img src="/static/images/f1-icon.png" alt="feature-icon" class="services-icons" />
                <div class="f-1">
                    <h2>What We Offer</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla
                        purus feugiat. Etiam malesuada mattis nibh at bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Etiam malesuada mattis nibh at bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum,
                        id fringilla purus feugiat.
                    </p>
                    <form action="/">
                        <input type="image" src="/static/images/readmore.png" alt="Read more" class="read-more">
                    </form>
                </div>
            </li>
            <li class="feature-one-two">
                <img src="/static/images/f2-icon.png" alt="feature-icon" class="services-icons" />
                <div class="f-1">
                    <h2>Who We Are</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla
                        purus feugiat. Etiam malesuada mattis nibh at bibendum. Etiam mollis turpis ac libero interdum, id
                        fringilla purus feugiat.
                    </p>
                    <!--<form action="/action_page.php">-->
                    <form action="">
                        <input type="image" src="/static/images/readmore.png" alt="Read more" class="read-more">
                    </form>
                </div>
            </li>
            <li class="last">
                <img src="/static/images/f3-icon.png" alt="feature-icon" class="services-icons" />
                <div class="f-1">
                    <h2>Our Mission</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla
                        purus feugiat. Etiam malesuada mattis nibh at bibendum. Etiam mollis turpis ac libero interdum, id
                        fringilla purus feugiat. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat.
                    </p>
                    <form action="/action_page.php">
                        <input type="image" src="/static/images/readmore.png" alt="Read more" class="read-more">
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div id="info" class="fasca">
        <div class="wrapper-center">
            <img src="/static/images/quote.png" alt="quote-icon" id="quote" />
            <p class="text">Vivamus id feugiat ligula. Nulla facilisi. Integer lacus justo, elementum eget consequat a, molestie nec sapien.
                Quisque tincidunt, nunc vitae adipiscing</p>
        </div>
    </div>
    <!--End info-->
    <div class="wrapper-center">
        <img src="/static/images/additional-info.png" alt="additional-info-icon" id="additional-info" />
    </div>
    <div id="recent-work" class="portfolio-container">
        <div class="wrapper-center">
            <ul class="work cell">
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
            </ul>
        </div>
    </div>
</div>