<div class="title-wrapper">
    <h1>Upload</h1>
</div>
<div id="upload-wrapper">
    <div id="main-upload-container">
        <div class="breadcrumbs">
            <a href="#/home">Home</a><span class="raquo">»</span>Upload
        </div>
        <input type="text" placeholder="Image URL" name="imgUrl" class="img-url" id="user-img-url">
        <input type="button" value="Upload" class="upload-btn" />
    </div>
</div>
</div>