.common-template-wrapper {
  background-size: cover;
  margin-top: 22px;
  padding-bottom: 37px;
}

.common-template-wrapper .common-template-sub-wrapper {
  margin: 0 auto;
  width: 960px;
}

.common-template-wrapper .common-template-sub-wrapper .breadcrumbs {
  font-size: 12px;
  color: #7e7d7d;
  padding-top: 29px;
  padding-bottom: 50px;
}

.common-template-wrapper .common-template-sub-wrapper .breadcrumbs a {
  color: #a3a3a3;
  text-decoration: none;
}

.common-template-wrapper .common-template-sub-wrapper .breadcrumbs .raquo {
  color: #7e7d7d;
  padding: 4px;
}

.common-template-wrapper .common-template-sub-wrapper .container {
  margin: 0 auto;
  width: 960px;
  padding: 0;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side {
  width: 680px;
  float: left;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box {
  padding: 0px 60px 40px 0px;
  position: relative;
  margin: 20px;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .content-title {
  color: #1f262d;
  font-size: 20px;
  padding-bottom: 16px;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .sub-text {
  padding-top: 14px;
  padding-bottom: 17px;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .img-wrapper {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  float: left;
  width: 212px;
  margin-right: 23px;
  height: 213px;
  background-color: #25575E;
  border: 5px solid white;
  -webkit-box-shadow: #4E4C4C 5px 5px 5px inset;
  -moz-box-shadow: #4E4C4C 5px 5px 5px inset;
  box-shadow: #4E4C4C 5px 5px 5px inset;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .img-wrapper img {
  height: 100%;
  width: 100%;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .text-wrapper {
  line-height: 21px;
  padding-bottom: 10px;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .readmore {
  float: right;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #262d35;
  padding: 5px 8px 5px 8px;
  border: solid #050505 1px;
  margin: 60px 0;
  width: inherit;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .readmore:hover {
  cursor: pointer;
  background: #505963;
  box-shadow: #B3B3B3 2px 2px 2px;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  text-decoration: none;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .clearfix {
  clear: both;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .page-nav-wrapper {
  clear: both;
  position: relative;
  padding: 27px 60px 20px 0px;
  text-align: right;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .page-nav-wrapper .pages {
  padding: 5px 20px 5px 7px !important;
  margin: 2px !important;
  color: #838383;
  border: none !important;
  font-size: 18px;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .page-nav-wrapper .next {
  padding: 7px 19px 13px 14px !important;
  margin: 2px;
  text-decoration: none;
  font-weight: normal !important;
  font-size: 18px !important;
  color: #2f373f !important;
  border: none !important;
  padding: 7px 19px 13px 14px !important;
  text-shadow: 1px 1px 1px #fff;
}

.common-template-wrapper .common-template-sub-wrapper .container .left-side .page-nav-wrapper .next-sign {
  padding: 7px 19px 13px 14px !important;
  margin: 2px;
  text-decoration: none;
  font-weight: normal !important;
  font-size: 18px !important;
  color: #2f373f !important;
  border: none !important;
  padding: 7px 19px 13px 14px !important;
  text-shadow: 1px 1px 1px #fff;
}

.common-template-wrapper .common-template-sub-wrapper .container .sidebar {
  width: 220px;
  float: left;
}

.common-template-wrapper .common-template-sub-wrapper .container .sidebar .widgettitle {
  margin-top: 15px;
}

.common-template-wrapper .common-template-sub-wrapper .container .sidebar .widget {
  margin-top: 13px;
  width: 268px;
  background: #fefefe;
  border: 0.5px solid #cfcfcf;
  border-top: 2px solid #cfcfcf;
  border-radius: 10px;
}

.common-template-wrapper .common-template-sub-wrapper .container .sidebar .widget .widget-bottom {
  padding-bottom: 10px;
  width: 273px;
}

.common-template-wrapper .common-template-sub-wrapper .container .sidebar .widget .widget-bottom .widget-content {
  padding: 0 2px 0 1px;
}

.common-template-wrapper .common-template-sub-wrapper .container .sidebar .widget .widget-bottom .widget-content .widget-text {
  padding: 10px 25px;
}

.common-template-wrapper .common-template-sub-wrapper .container .sidebar .widget .widget-bottom .widget-content .widget-text ul {
  list-style: none;
}

.common-template-wrapper .common-template-sub-wrapper .container .sidebar .widget .widget-bottom .widget-content .widget-text ul li {
  padding: 8px 0 8px 12px;
  display: block;
}

.common-template-wrapper .common-template-sub-wrapper .container .sidebar .widget .widget-bottom .widget-content .widget-text ul li a {
  color: #5e5e5e;
  text-shadow: none;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .small-devices .title-wrapper {
    width: 100%;
  }
  .small-devices .title-wrapper h1 {
    padding-left: 20px;
  }
  .small-devices .breadcrumbs {
    padding-left: 20px;
  }
  .small-devices .common-template-wrapper .common-template-sub-wrapper {
    width: 100% !important;
  }
  .small-devices .common-template-wrapper .common-template-sub-wrapper .breadcrumbs {
    font-size: 20px;
    padding-bottom: 40px;
  }
  .small-devices .common-template-wrapper .common-template-sub-wrapper .container {
    width: 100% !important;
  }
  .small-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side {
    width: auto;
    float: none;
  }
  .small-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .border-pic {
    width: 100% !important;
  }
  .small-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .content-title {
    font-size: 25px;
  }
  .small-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .sub-text {
    font-size: 16px;
  }
  .small-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .img-wrapper {
    float: none;
    margin: 0 auto;
    width: 270px;
    height: 300px;
  }
  .small-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .text-wrapper {
    display: inline-block;
    padding-top: 10px;
    font-size: 20px;
    text-align: justify;
  }
  .small-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .readmore {
    font-size: 20px;
  }
  .small-devices .common-template-wrapper .common-template-sub-wrapper .container .sidebar {
    display: table;
    margin: 0 auto;
    width: auto;
    float: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 958px) {
  .medium-devices .title-wrapper {
    width: 100%;
  }
  .medium-devices .title-wrapper h1 {
    padding-left: 20px;
  }
  .medium-devices .breadcrumbs {
    padding-left: 20px;
  }
  .medium-devices .common-template-wrapper .common-template-sub-wrapper {
    width: 100% !important;
  }
  .medium-devices .common-template-wrapper .common-template-sub-wrapper .breadcrumbs {
    font-size: 20px;
    padding-bottom: 40px;
  }
  .medium-devices .common-template-wrapper .common-template-sub-wrapper .container {
    width: 100% !important;
  }
  .medium-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side {
    width: auto;
    float: none;
  }
  .medium-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .border-pic {
    width: 100% !important;
  }
  .medium-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .content-title {
    font-size: 25px;
  }
  .medium-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .sub-text {
    font-size: 16px;
  }
  .medium-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .readmore {
    font-size: 16px;
  }
  .medium-devices .common-template-wrapper .common-template-sub-wrapper .container .left-side .content-box .readmore:last-child {
    float: none;
  }
  .medium-devices .common-template-wrapper .common-template-sub-wrapper .container .sidebar {
    display: table;
    margin: 0 auto;
    width: auto;
    float: none;
  }
}
