footer {
  padding: 0;
  margin: 0;
  max-height: 360px;
  background: url("../images/footer.png");
}

footer .custom-container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

footer .custom-container #footer-content .foo-1 {
  max-width: 235px;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 180px;
  overflow: visible;
  display: inline-block;
}

footer .custom-container #footer-content .foo-1 h2 {
  font-family: ColaborateThin;
  font-size: 24px;
  color: white;
  margin-bottom: 12px;
}

footer .custom-container #footer-content .foo-1 p {
  margin-top: 5px;
  color: #88949D;
  font-family: DroidSans;
  font-size: 12px;
  line-height: 21px;
}

footer .custom-container #footer-content .foo-2 {
  max-width: 249px;
  margin-left: 130px !important;
  margin-right: 95px !important;
  max-height: 185px;
  display: inline-block;
}

footer .custom-container #footer-content .foo-2 h2 {
  font-family: ColaborateThin;
  font-size: 24px;
  color: white;
  margin-bottom: 12px;
}

footer .custom-container #footer-content .foo-2 #nested {
  list-style: none;
}

footer .custom-container #footer-content .foo-2 #nested li {
  display: list-item;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: DroidSans;
  font-size: 12px;
  color: #88949D;
}

footer .custom-container #footer-content .foo-2 #nested li:before {
  content: ' \25CF';
  color: #232837;
  width: 20px;
  padding-right: 13px;
}

footer .custom-container #footer-content .last {
  max-width: 235px;
  display: inline-block;
}

footer .custom-container #footer-content .last h2 {
  font-family: ColaborateThin;
  font-size: 24px;
  color: white;
  margin-bottom: 12px;
}

footer .custom-container #footer-content .last p {
  margin-top: 5px;
  color: #88949D;
  font-family: DroidSans;
  font-size: 12px;
  line-height: 21px;
}

footer #nav-footer {
  height: 62px;
  background-color: #0f1419;
}

footer #nav-footer .custom-container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

footer #nav-footer .custom-container ul {
  float: left;
}

footer #nav-footer .custom-container ul li {
  display: inline-block;
  list-style-type: none;
  margin: 20px 15px 26px 0;
}

footer #nav-footer .custom-container ul li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-family: DroidSans;
  font-size: 12px;
}

footer #nav-footer .custom-container ul li a:hover {
  font-style: italic;
  color: #8D96A0;
}

footer #nav-footer .custom-container small {
  color: #8D96A0;
  float: right;
  margin-top: 26px;
}

footer #nav-footer .custom-container small p {
  color: white;
  display: inline;
}
