footer {
  padding: 0;
  margin: 0;
  max-height: 360px;
  background: url("../images/footer.png");
}

footer .custom-container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

footer .custom-container #footer-content .foo-1 {
  max-width: 235px;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 180px;
  overflow: visible;
  display: inline-block;
}

footer .custom-container #footer-content .foo-1 h2 {
  font-family: ColaborateThin;
  font-size: 24px;
  color: white;
  margin-bottom: 12px;
}

footer .custom-container #footer-content .foo-1 p {
  margin-top: 5px;
  color: #88949D;
  font-family: DroidSans;
  font-size: 12px;
  line-height: 21px;
}

footer .custom-container #footer-content .mobile-foo-2 {
  display: none;
}

footer .custom-container #footer-content .foo-2 {
  max-width: 249px;
  margin-left: 130px !important;
  margin-right: 95px !important;
  max-height: 185px;
  display: inline-block;
}

footer .custom-container #footer-content .foo-2 h2 {
  font-family: ColaborateThin;
  font-size: 24px;
  color: white;
  margin-bottom: 12px;
}

footer .custom-container #footer-content .foo-2 #nested {
  list-style: none;
}

footer .custom-container #footer-content .foo-2 #nested li {
  display: list-item;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: DroidSans;
  font-size: 12px;
  color: #88949D;
}

footer .custom-container #footer-content .foo-2 #nested li:before {
  content: ' \25CF';
  color: #232837;
  width: 20px;
  padding-right: 13px;
}

footer .custom-container #footer-content .last {
  max-width: 235px;
  display: inline-block;
}

footer .custom-container #footer-content .last h2 {
  font-family: ColaborateThin;
  font-size: 24px;
  color: white;
  margin-bottom: 12px;
}

footer .custom-container #footer-content .last p {
  margin-top: 5px;
  color: #88949D;
  font-family: DroidSans;
  font-size: 12px;
  line-height: 21px;
}

footer #nav-footer {
  height: 62px;
  background-color: #0f1419;
}

footer #nav-footer .custom-container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

footer #nav-footer .custom-container .mobile-version {
  display: none;
}

footer #nav-footer .custom-container ul {
  float: left;
}

footer #nav-footer .custom-container ul li {
  display: inline-block;
  list-style-type: none;
  margin: 20px 15px 26px 0;
}

footer #nav-footer .custom-container ul li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-family: DroidSans;
  font-size: 12px;
}

footer #nav-footer .custom-container ul li a:hover {
  font-style: italic;
  color: #8D96A0;
}

footer #nav-footer .custom-container small {
  color: #8D96A0;
  float: right;
  margin-top: 26px;
}

footer #nav-footer .custom-container small p {
  color: white;
  display: inline;
}

@media only screen and (max-width: 768px) {
  .small-devices footer {
    width: 100%;
  }
  .small-devices footer #footer-content {
    display: inline-block;
    text-align: center;
    margin-top: -20px;
  }
  .small-devices footer #footer-content li {
    display: block;
    text-align: justify;
    margin: 50px 20px;
    max-width: 0;
  }
  .small-devices footer #footer-content li h2 {
    font-size: 25px !important;
    text-align: center;
  }
  .small-devices footer #footer-content li p {
    font-size: 20px !important;
  }
  .small-devices footer #footer-content .mobile-foo-2 {
    max-width: 235px;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 180px;
    overflow: visible;
    display: inline-block;
  }
  .small-devices footer #footer-content .mobile-foo-2 h2 {
    font-family: ColaborateThin;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
  }
  .small-devices footer #footer-content .mobile-foo-2 h3 {
    margin-top: 5px;
    color: #88949D;
    font-family: DroidSans;
    font-size: 12px;
    line-height: 21px;
  }
  .small-devices footer #footer-content .foo-2 {
    display: none;
  }
  .small-devices footer #footer-content .last {
    margin-top: 15px;
  }
  .small-devices footer #nav-footer {
    height: auto;
  }
  .small-devices footer #nav-footer .custom-container {
    height: 50px;
  }
  .small-devices footer #nav-footer .custom-container .mobile-version {
    display: block;
    text-align: center;
    padding-top: 10px;
  }
  .small-devices footer #nav-footer .custom-container .mobile-version a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-family: "DroidSans";
  }
  .small-devices footer #nav-footer .custom-container ul {
    display: none;
  }
  .small-devices footer #nav-footer .custom-container small {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 956px) {
  .medium-devices footer {
    height: auto;
  }
  .medium-devices footer #footer-content {
    display: inline-block;
    text-align: center;
    margin-top: -20px;
  }
  .medium-devices footer #footer-content li {
    display: block;
    text-align: justify;
    margin: 50px 20px;
    max-width: 0;
  }
  .medium-devices footer #footer-content li h2 {
    font-size: 25px !important;
    text-align: center;
  }
  .medium-devices footer #footer-content li p {
    font-size: 20px !important;
  }
  .medium-devices footer #footer-content .mobile-foo-2 {
    max-width: 235px;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 180px;
    overflow: visible;
    display: inline-block;
  }
  .medium-devices footer #footer-content .mobile-foo-2 h2 {
    font-family: ColaborateThin;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
  }
  .medium-devices footer #footer-content .mobile-foo-2 h3 {
    margin-top: 5px;
    color: #88949D;
    font-family: DroidSans;
    font-size: 12px;
    line-height: 21px;
  }
  .medium-devices footer #footer-content .foo-2 {
    display: none;
  }
  .medium-devices footer #footer-content .last {
    margin-top: 15px;
  }
  .medium-devices footer #nav-footer {
    height: auto;
  }
  .medium-devices footer #nav-footer .custom-container {
    height: 50px;
  }
  .medium-devices footer #nav-footer .custom-container ul {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .medium-devices footer #nav-footer .custom-container ul li a {
    font-size: 16px;
  }
  .medium-devices footer #nav-footer .custom-container small {
    display: none;
  }
}
